@import "libs/variables";

.main {
    margin: 0;
}

.section-error {
    display: flex;
    min-height: 100vh;
    padding: 18% 15px 13%;
    text-align: center;
    background-image: url(../img/bg-404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 768px) {
        background-image: url(../img/bg-404desc.jpg);
        padding: 12% 15px 13%;
    }

    .section-image {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 178px;
        justify-content: center;
        align-items: flex-end;
    }

    h4 {
        font-size: 26px;
        font-weight: 700;
        width: 100%;
        margin-top: 36px;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 36px;
            font-weight: 700;
            margin-top: 40px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        width: 81%;
        margin-top: 25px;
        margin-bottom: 26px;
        line-height: 20px;

        @media (min-width: 768px) {
            font-size: 19px;
            margin-top: 55px;
        }
    }

    .action {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    span {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;

        @media (min-width: 768px) {
            font-size: 19px;
        }

        a {
            font-size: 16px;
            line-height: 24px;
            text-decoration: underline;
            font-weight: 700;
            text-decoration: underline;
            color: $color_darkBlue;

            @media (min-width: 768px) {
                font-size: 19px;
            }
        }
    }
}
