@import "libs/variables";

.header.mobile{
    background-color: #fff!important;
}

.bread-crumbs {
    position: relative;
    margin-top: 195px;
    padding: 50px 0 89px;

    li:last-child {
        padding: 0;
    }

    li {
        line-height: 19px;

        a,
        span {
            line-height: 20px;
        }
    }

    @media (min-width: 768px) {
        margin-top: 100px;
    }

    @media (min-width: 1024px) {
        margin-top: 100px;
    }

    @media (min-width: 1280px) {
        margin-top: 140px;
        padding: 60px 0 157px;
    }

    .heading {
        position: relative;

        h2 {
            color: $color_white;
            margin-top: 20px;
            line-height: normal;
            font-weight: 700;
            text-transform: uppercase;

            @media (min-width: 1280px) {
                font-size: 44px;
                margin-top: 35px;
            }
        }
    }
}

.section {
    margin-top: -25px;
    padding-bottom: 22px;

    @media (min-width: 768px) {
        margin-top: -50px;
    }

    @media (min-width: 1280px) {
        margin-top: -102px;
        padding-bottom: 94px;
    }

    img {
        margin: 0 auto;
        display: block;
        max-height: 418px;
        object-fit: cover;

        @media (min-width: 768px) {
            width: 51%;
            float: left;
            margin-right: 30px;
        }

        @media (min-width: 1280px) {
            margin-right: 82px;
            margin-bottom: 26px;
        }
    }

    .date {
        position: absolute;
        top: -55px;
        left: 14px;
        color: $color_white;

        i {
            font-size: 20px;
            margin-right: 18px;
        }

        @media (min-width: 768px) {
            position: relative;
            top: auto;
            left: auto;
            margin-bottom: 30px;
            display: block;
        }

        @media (min-width: 1280px) {
            margin-bottom: 126px;
        }
    }

    h3 {
        margin-top: 16px;
        margin-bottom: 22px;

        @media (min-width: 1280px) {
            font-size: 27px;
            padding-right: 5%;
            margin-bottom: 59px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 25px;

        @media (min-width: 1280px) {
            font-size: 19px;
            line-height: 27px;
            margin-bottom: 19px;
        }
    }
}

.section {
    margin-top: -22px;
    h3 {
        margin-top: 22px;
        margin-bottom: 22px;
    }
    ul{
        margin-bottom: 30px;
        li{
            color: #0d1013;
            font-size: 16px;
            font-weight: 300;
            padding-left: 23px;
            position: relative;
            line-height: 27px;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
            &::after{
                content: '';
                top: 8px;
                left: 0;
                width: 8px;
                height: 8px;
                position: absolute;
                border-radius: 50%;
                background-color: #0d1013;
            }
        }
    }
    .right{
        margin-bottom: 34px;
    }
    @media (min-width: 768px) {
        margin-top: -40px;
        .right{
            float: right;
            margin: 0 0 15px 20px;
        }   
    }
    @media (min-width: 1024px) {
        ul {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 30px;
            -moz-column-gap: 30px;
            column-gap: 30px;
        }
        .date {
            margin-bottom: 40px;
        }
    }
    @media (min-width: 1280px) {
        margin-top: -85px;
        h3{
            line-height: 28px;
        }
        .date {
            margin-bottom: 80px;
        }
        .right {
            margin: 10px 0 15px 50px;
        }
        ul {
            padding: 20px 0 15px;
            li {
                font-size: 19px;
                margin-bottom: 15px;
                &::after {
                    top: 10px;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    @media (min-width: 1600px) {
        margin-top: -105px;
        .date {
            margin-bottom: 125px;
        }
        h3{
            margin-bottom: 27px;
        }
        p{
            margin-bottom: 31px;
        }
        ul {
            padding: 0 0 15px;
            margin-top: -9px;
            margin-left: 20px;
            margin-bottom: 15px;
            -webkit-column-gap: 5px;
            -moz-column-gap: 5px;
            column-gap: 5px;
            li{
                padding-left: 38px;
            }
        }
        .right {
            margin: 10px 0 40px 50px;
        }
    }
}
