@import "libs/variables";

.header.mobile{
    background-color: #fff!important;
}

.bread-crumbs {
    margin-top: 215px;
    padding: 50px 0;
    position: relative;

    @media (min-width: 768px) {
        margin-top: 100px;
    }

    @media (min-width: 1024px) {
        margin-top: 100px;
    }

    @media (min-width: 1280px) {

        margin-top: 140px;
        padding: 56px 0 64px;
    }

    .heading {
        position: relative;

        h2 {
            color: $color_white;
            margin-top: 20px;
            line-height: normal;
            font-weight: 700;
            text-transform: uppercase;

            @media (min-width: 1280px) {
                font-size: 44px;
                margin-top: 35px;
            }
        }
    }
}

.section {

    &-project {
        .page-link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: block;
        }

        .list-advantages {
            margin-top: 20px;
            margin-bottom: 23px;

            li {
                position: relative;
                padding-left: 20px;
                margin-bottom: 0px;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;

                @media (min-width: 1600px) {
                    margin-bottom: 7px;
                    padding-left: 28px;
                    padding-right: 34px;
                    font-size: 19px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 6px;
                    height: 6px;
                    background-color: $color_darkBlue;
                    left: 0;
                    top: 8px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }

        .list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            max-width: 648px;

            @media (min-width: 1100px) {
                justify-content: flex-start;
                align-items: flex-start;
                margin: 0 -20px 14px;
                max-width: none;
            }
        }

        .item {
            max-width: 290px;
            margin: 0 auto 0px;
            padding-bottom: 23px;

            @media (min-width: 768px) {
                margin: 0 0 34px;
            }

            @media (min-width: 1100px) {
                width: 33.333%;
                max-width: none;
                padding: 0 20px;
                margin: 0 0 42px;
            }

            .image {
                position: relative;
                height: 189px;
                margin-bottom: 22px;

                @media (min-width: 1280px) {
                    height: 264px;
                    margin-bottom: 13px;
                }
            }

            img {
                width: 100%;
                height: 189px;
                object-fit: cover;

                @media (min-width: 1280px) {
                    height: 264px;
                }
            }

            .list-inform {
                border-bottom: 1px solid;

                .inform-body {
                    display: flex;
                    align-items: flex-end;
                }

                li {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 26px;

                    @media (min-width: 1280px) {
                        margin-bottom: 22px;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21px;

                        @media (min-width: 1600px) {
                            font-size: 19px;
                        }

                    }

                    .color {
                        font-size: 19px;
                        font-weight: 700;
                        white-space: nowrap;
                        margin-right: 0px;

                        @media (min-width: 1100px) {
                            font-size: 14px;
                        }

                        @media (min-width: 1440px) {
                            font-size: 19px;
                        }

                        @media (min-width: 1600px) {
                            font-size: 22px;
                        }

                        span {
                            font-size: 16px;
                            font-weight: 700;

                            @media (min-width: 1100px) {
                                font-size: 14px;
                            }

                            @media (min-width: 1440px) {
                                font-size: 19px;
                            }
                        }
                    }

                    .title {
                        min-width: 129px;
                        width: 129px;
                        margin-right: 16px;

                        @media (min-width: 1600px) {
                            width: 153px;
                            min-width: 153px;
                            margin-right: 20px;
                        }
                    }

                    img {
                        width: 22px;
                        height: 23px;
                        margin-right: 10px;
                        object-fit: contain;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;

                        @media (min-width: 1280px) {
                            margin-right: 20px;
                        }
                    }

                    i {
                        font-size: 24px;
                        margin-right: 10px;
                        display: block;
                        margin-left: -2px;
                        color: $color_darkBlue;

                        @media (min-width: 1280px) {
                            margin-right: 17px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .content {
            @media (min-width: 1280px) {
                padding: 0 17px;
            }

            h3 {
                font-size: 20px;
                position: relative;
                margin-top: 5px;
                border-bottom: 1px solid;
                margin-bottom: 28px;
                padding-bottom: 22px;

                @media (min-width: 480px) {
                    margin-bottom: 16px;
                    margin-top: 5px;
                    min-height: 87px;
                }

                @media (min-width: 1600px) {
                    margin-bottom: 29px;
                    font-size: 27px;
                    font-weight: 500;
                    line-height: 28px;
                    padding-bottom: 15px;
                }

                &:hover {
                    color: $color_darkBlue;
                    text-decoration: underline;
                }

            }

            h4 {
                font-size: 22px;
                font-weight: 500;
                line-height: 27px;
                position: relative;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                height: 120px;
                overflow: hidden;

                @media (min-width: 1280px) {
                    height: 99px;
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 27px;
                }
            }
        }

        .filter {
            max-width: 346px;
            margin: 0 auto;
            margin-top: 49px;
            margin-bottom: 50px;

            @media (min-width: 480px) {
                display: flex;
                flex-wrap: wrap;
                max-width: none;
            }

            @media (min-width: 768px) {
                max-width: none;
                display: flex;
                flex-wrap: wrap;
            }

            @media (min-width: 1600px) {
                justify-content: flex-start;
                margin-right: 0;
                margin-bottom: 50px;
                margin-top: 98px;
                padding-right: 5px;
            }

            li {
                margin-bottom: 23px;

                @media (min-width: 480px) {
                    margin-right: 15px;
                }

                @media (min-width: 768px) {
                    margin-right: 40px;
                }

                @media (min-width: 1600px) {
                    max-width: 334px;
                    margin-right: 83px;
                    margin-bottom: 53px;
                }

                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    text-decoration: underline;
                    color: $color_darkBlue;
                    position: relative;
                    display: block;
                    padding-left: 20px;

                    @media (min-width: 1280px) {
                        font-size: 19px;
                    }

                    &:hover {
                        color: $color_lightBlue;
                        text-decoration: underline;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        width: 8px;
                        height: 8px;
                        background-color: $color_darkBlue;
                        left: 0;
                        top: 8px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }
            }
        }
    }

    &-form {
        padding-top: 0;
        background-image: url(../img/form-bg-mob.png);
        background-size: cover;
        background-position: bottom;
        margin-top: -21px;

        @media (min-width: 480px) {
            background-image: url(../img/form-bg.png);
            background-repeat: no-repeat;
        }

        @media (min-width: 1024px) {
            padding-top: 29px;
        }

        @media (min-width: 1280px) {
            padding-bottom: 78px;

            .form {
                padding-top: 43px;
            }
        }

        h2 {
            line-height: 31px;
            margin-bottom: 25px;
            max-width: 679px;

            @media (min-width: 1024px) {
                font-size: 44px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: normal;
            }
        }

        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
            padding-right: 10px;
            margin-bottom: 13px;
            max-width: 418px;

            @media (min-width: 1024px) {
                font-size: 19px;
                font-weight: 300;
                line-height: 27px;
            }
        }
    }

}
